{%load static%}
<style>
body {margin:0;}
nav {
    overflow: hidden;
    background-color: rgba(51, 9, 2, 0.726);
    top: 0;
    width: 100%;
    font-weight: bold;
    }
    
nav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    }
    
nav a:hover {
    background: #ddd;
    color: black;
    }

</style> 



{% comment "" %} <href="link">name</a> {% endcomment %}
<nav>
<a href="/home/">HoMe</a>   
<a href="/LoGin/">LogIn</a> 
<a href="/SignUp/">Join NoW</a>     
<a href="/feedback/">FeeDBacK</a>    
<a href="/feedback/allfeedbacks/">All FeeDBacKs</a>  
<a href="/product/">All ProuDuctS</a>    
<a href="/content/">ConTacT</a> 
<a href="/home/">LoGouT</a> 
</nav>




