{% extends 'base.html' %}

{% load static %}

{% block content%}



   <style>
      
      h{
         color: #D58F83;
         font-weight: bold;
         font-size: 50px;
   }

   h1{
      color: #FBD8D2 ;
      font-weight: bold;
      font-size: 30px;
}
p{
   color: #F0E5E3;
   font-weight: bold;
   font-size: 15px;
   left-spacing: 1px;
	line-height: 28px;
}
   </style>
   
   <body style="background-image: url({%static "image/car.jpg" %})" >
   <center>
      <h> ASH Company </h>
      <h1> Welcome the World of Cars</h1>
		<p>We provide a a flexible service of car rentingRentSyst service is very easy to use. Within six months, we have successfully built perfect communication with customers. RentSyst is convenient to use, rich in functionality, quick to configure and implement.
With RentSyst, we got rid of the work routine and automated the processes of the same type. It has become convenient to work with a large number of orders - nothing gets confused or lost. The effectiveness of the fleet has increased significantly! We are going to scale.
The main advantages - everything is intuitive, the interface is adaptive, access to data in real-time mode. No flaws revealed.</p>
   
   
   </center>
   </body>

{%endblock content %}